.main-block{
    backdrop-filter: blur(10px);
    padding: 3%;
    -webkit-backdrop-filter: blur(3px);
    background-color: rgb(39 38 38 / 20%);
    -webkit-box-shadow: 7px 26px 60px -1px rgba(34, 60, 80, 0.78);
    -moz-box-shadow: 7px 26px 60px -1px rgba(34, 60, 80, 0.78);
    box-shadow: 7px 26px 60px -1px rgba(34, 60, 80, 0.78);
}
.content-header{
    color: rgb(196, 227, 255);
    margin: 0;
    padding: auto;
}
.main-block__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
